.charactersheet-aria {
	border-radius: 5px;
	padding: 10px;
	background-color: bisque;
	color: black;
	display: flex;
	flex-direction: column;
}

.charactersheet-aria .divider {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-evenly;
}

.charactersheet-aria img {
	width: 25%;
	padding-left: 10px;
	padding-right: 10px;
}

.charactersheet-aria .row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.charactersheet-aria .hr {
	border-top: 1px solid black;
	align-self: center;
	width: 100%;
}

.charactersheet-aria .title {
	margin-bottom: 10px;
	text-transform: uppercase;
}

.charactersheet-aria .title div {
	text-transform: none;
	margin-left: 10px;
}

.charactersheet-aria .weapon {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-basis: 100%;
	align-items: center;
	margin-top: 10px;
}

.charactersheet-aria .circle {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
}

.charactersheet-aria .column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 100%;
	align-items: center;
	margin-top: 10px;
}
